.hero {
    width: 100%;
    min-height: 103vh;
    background-image: url(../images/body/io_hero.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (max-width: 768px) {
        min-height: 25vh;
    }

    @media (max-width: 1023px) {
        min-height: 40vh;
    }
}