.trailers, .characters {
    padding: 2vw 5.6vw;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        list-style: none;

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
            }

        }
    }
}

.characters {
    &__list {
        &__item {
            img {
                border-radius: 50%;
            }
        }
    }
}