* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bgColor: #fff;
$mainTextColor: #1D1D1DB3;

body {
    background-color: $bgColor;
}

@mixin title($fontSize: 24px) {
    font-size: $fontSize;
    color: $mainTextColor;
}

@mixin text {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: $mainTextColor;
}

.title--big {
    @include title(40px);
}

.title {
    @include title;
}

.text {
    @include text;
}
